/** {
  border: 1px dashed black;
}*/

body {
  background: #005689;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

/**** Styles for input/search section ****/

.content {
  background: white;
  border-radius: 25px;
  margin: 50px 100px 50px;
  padding: 50px 50px 50px;
}

#logo {
  text-align: center;
  width: 75%;
}

#logo-mobile {
  display:none;
}

#header h1 {
  font-size: 65px;
}

#intro-text > p {
  font-size: 22px;
}

.search-box {
  display: inline-block;
}

.search-box input {
  border: 1px solid #666;
  border-radius: 300px;
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  height: 50px;
  width:225px;
  margin: 10px 10px 10px;
  text-align: center;
}

#go-button {
  border: 1px solid #666;
  border-radius: 300px;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  height: 50px;
  width: 100px;
}

#go-button:hover {
  filter: alpha(opacity=30);
  opacity: 0.3;
}

/**** Styles for buttons ****/

#button-area {
  padding-right:35px;
}

#button-area > ul > li {
  display:inline-block;
  padding:0 10px 0;

}

.prev-next {
  border: 1px solid #666;
  border-radius: 300px;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  height: 50px;
  width: 100px;
}

.prev-next:hover {
  filter: alpha(opacity=30);
  opacity: 0.3;
}

#nav-dot-group > ul > li {
  display:inline;
  list-style-type: none;
  padding:0 10px 0;
  text-align: center;
}

#nav-dot-group > ul {
  padding-right: 50px;
  padding-bottom: 20px;
}

.nav-dots {
  background-color: white;
  border-radius: 300px;
  display: inline-block;
  height: 10px;
  width: 10px;
}

/**** Styles for carousel ****/

.hideable {
    display: none;
}

/**** Media Queries here ****/

@media (max-width: 700px){

  /** Search/input area **/

  .content {
    margin: 0 10px 10px;
    padding: 10px 10px 10px;
  }

  #logo {
    display:none;
  }

  #logo-mobile {
    display:inline;
    text-align: center;
    width: 75%;
  }

  #header h1 {
    font-size: 40px;
  }

  #intro-text > p {
    font-size: 18px;
  }

  .search-box input {
    font-size: 14px;
    height: 40px;
    width:200px;
    margin: 10px 10px 10px;
  }

  #go-button {
    font-size: 14px;
    height: 25px;
    width: 40px;
  }

  /** Button area **/

  #buttons {
    padding: 10px 0 10px;
  }

  #button-area {
    padding-right: 40px;
    text-align: center;
  }

  .prev-next {
    font-size: 14px;
    height: 25px;
    width: 40px;
  }

  #nav-dot-group > ul {
    display: none;
  }

  .nav-dots {
    height:7px;
    width: 7px;
  }

  /** Results area **/

  #results {
    margin: 10px 10px 0;
    padding: 10px 10px 10px;
  }

}
